h1 {
    color: blue;
    /* background-color: aqua; */
    /* border: 5px solid black; */
    /* border-width: 5px;
    border-top-style: solid;
    border-left-style: dotted;
    border-bottom-style: dashed;
    border-right-style: double; */
}
